{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<h1 class="text-center">Welcome to Teifi Taekwondo</h1>
<hr>
<h3 class="text-center">Our Classes</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100">
          <div class="row g-0">
                <div class="card-header text-center bg-yellow">
                    <h5 class="card-title text-dark class-title">Tigers</h5>
                </div>
                <div class="col-md-6">
                  <img src="/media/images/tiger1.png" class="img-fluid rounded-start" alt="Tigers Students Training">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <p class="class-info"> Aimed at our littlest ninjas (aged 4-6). Our Tiger Class teaches the basics of Taekwondo through a variety of games - They will not realise they are learning. However what they will realise is how fun it is.</p>
                        <p>Training Time<span> Wednesday</span></p>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="#" role="button">Classes</a>
                    <a class="btn btn-primary" href="#" role="button">Learn</a>
                    <a class="btn btn-primary" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                </div>
            </div>        
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="row g-0">
                  <div class="card-header text-center bg-blue">
                      <h5 class="card-title text-light class-title">Juniors</h5>
                  </div>
                  <div class="col-md-6">
                    <img src="/media/images/junior1.png" class="img-fluid img-class rounded-start" alt="Junior Students Training">
                  </div>
                  <div class="col-md-4">
                      <div class="card-body">
                          <p class="class-info"> EDIT THIS</p>
                          <p>Training Time<span> Wednesday</span></p>
                      </div>
                  </div>
                  <div class="card-footer text-center">
                      <a class="btn btn-primary" href="#" role="button">Classes</a>
                      <a class="btn btn-primary" href="#" role="button">Learn</a>
                      <a class="btn btn-primary" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                  </div>
              </div>        
          </div>
      </div>
    <div class="col">
        <div class="card h-100">
            <div class="row g-0">
                  <div class="card-header text-center bg-red">
                      <h5 class="card-title text-white class-title">Seniors</h5>
                  </div>
                  <div class="col-md-6">
                    <img src="/media/images/senior1.png" class="img-fluid img-class rounded-start" alt="Senior Students Training">
                  </div>
                  <div class="col-md-4">
                      <div class="card-body">
                          <p class="class-info"> EDIT ME</p>
                          <p>Training Time<span> Wednesday</span></p>
                      </div>
                  </div>
                  <div class="card-footer text-center">
                      <a class="btn btn-primary" href="#" role="button">Classes</a>
                      <a class="btn btn-primary" href="#" role="button">Learn</a>
                      <a class="btn btn-primary" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                  </div>
              </div>        
          </div>
      </div>
    <div class="col">
        <div class="card h-100">
            <div class="row g-0">
                  <div class="card-header text-center bg-pink">
                      <h5 class="card-title text-dark class-title">Ladies</h5>
                  </div>
                  <div class="col-md-6">
                    <img src="/media/images/ladies3.png" class="img-fluid img-class rounded-start" alt="Ladies Students Training">
                  </div>
                  <div class="col-md-4">
                      <div class="card-body">
                          <p class="class-info"> EDIT THIS</p>
                          <p>Training Time<span> Wednesday</span></p>
                      </div>
                  </div>
                  <div class="card-footer text-center">
                      <a class="btn btn-primary" href="#" role="button">Classes</a>
                      <a class="btn btn-primary" href="#" role="button">Learn</a>
                      <a class="btn btn-primary" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                  </div>
              </div>        
          </div>
      </div>
</div>
{% endblock %}