{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="jumbotron-section">
        <div class="row jumbotron-container">
            <div class="col-12">
                <div class="jumbotron text-center jumbotron-content">
                    <h4 class="pt-1">Welcome to Teifi Taekwondo</h4>
                    <p>Cardigan's home for Taekwondo</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}