{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<h2 class="text-center">Our Team</h2>
<hr>

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for coach in coaches%}
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ coach.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                                <div class="card-body">
                                    <h5>
                                        <span class="card-title red">{{coach.name}}</span>
                                        <span class="card-subtitle blue float-end"> {{coach.postion}}</span>
                                    </h5>
                                    <p class="card-text"><small class="text-muted">{{coach.rank}}<br> {{coach.awards}}</small></p>
                                    <p class="card-text">{{coach.bio}}</p>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <small><span class="text-muted">Classes Taught:</span><span class="blue float-end">{{coach.classes}}</span></small>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
</div>

{% endblock %}