{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<h2 class="text-center">Our Team</h2>
<hr>

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}images/laura.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                            <div class="card-body">
                                <h5>
                                    <span class="card-title red">Laura Williams</span>
                                    <span class="card-subtitle blue float-end"> Head Instructor</span>
                                </h5>
                                <p class="card-text"><small class="text-muted">4th Degree Black Belt in Taekwondo<br> 1st Degree Black Belt Kickboxing</small></p>
                                <p class="card-text">Founder of Teifi TKD Laura undertook TKD at the age of 8 to help deal with bullies. Her passion continued through University obtaining her degree and 2nd dan in the same month. Reconnecting with her friend and sparring partner, Coach Holly, saw the formation of Teifi Takewondo</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small><span class="text-muted">Classes Taught:</span><span class="blue float-end">Tigers, Juniors, Seniors, Ladies</span></small>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}images/holly.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                            <div class="card-body">
                                <h5>
                                    <span class="card-title red ">Holly White</span>
                                    <span class="card-subtitle blue float-end"> Senior Instructor</span>
                                </h5>
                                <p class="card-text"><small class="text-muted">3rd Degree Black Belt in Taekwondo<br> 2nd Degree Black Belt Kickboxing</small></p>
                                <p class="card-text">Holly started Taekwondo with school friend Coach Laura however due to her University degree temporarily stopped and began her journey in kickboxing. Returning home she reconnected with Laura to complete her first dan in takewondo whilst also introducing Laura to kickboxing fighting her way to her black belt.</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small><span class="text-muted">Classes Taught:</span><span class="blue float-end">Juniors, Seniors, Ladies</span></small>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}images/adam.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                            <div class="card-body">
                                <h5>
                                    <span class="card-title red ">Adam Knight</span>
                                    <span class="card-subtitle blue float-end"> Instructor</span>
                                </h5>
                                <p class="card-text">
                                    <small class="text-muted">2nd Degree Black Belt in Taekwondo <br> 1st Degree Black Belt Judo</small>
                                </p>
                                <p class="card-text">Adam joined Teifi Taekwondo after relocating due to a change of career bringing with him knowledge and experince in Judo. Adam's dedication to learning saw him quickly rise through the ranks and his Judo expertise assiting the club in our self-defence drills across the classes.</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small><span class="text-muted">Classes Taught:</span><span class="blue float-end">Seniors</span></small>
                            </div>
                            
                      </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}images/emma.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                            <div class="card-body">
                                <h5>
                                    <span class="card-title red">Emma Owen</span>
                                    <span class="card-subtitle blue float-end"> Instructor</span>
                                </h5>
                                <p class="card-text">
                                    <small class="text-muted">2nd Degree Black Belt in Taekwondo<br> Training for 1st Degree Black Belt Kickboxing</small>
                                </p>
                                <p class="card-text">Emma is our first Junior to become an instructor moving up the ranks from Student to Teacher. Which is good for a primary school techer. Taking our Tigers and Juniors before training herself with the seniors and ladies, and joining Holly and Laura in Kickboxing too.</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small><span class="text-muted">Classes Taught:</span><span class="blue float-end">Tigers, Juniors</span></small>
                            </div>
                      </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}