html{
    height: 100%;
}
body{
    height: calc(100vh - 164px);
}
/* Landing Page -Index.html- */
.red{
    color: #f3101f !important;
}
.bg-red{
    background: #f3101f !important;
}
.blue{
    color: #0063a1 !important;
}
.bg-blue{
    color: #0063a1 !important;
}

/* Landing Page -Index.html- */
.main-nav{
    background-color: #f3101f;
}

/* Bulma */
.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo{
    align-items: center;
    
    height: 6rem;
    width: 6rem;
}


.li{
    text-decoration: none;
}

.carousel{
    max-height: 250px;
}

/* Media Queries */

@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .header-container {
        padding-top: 164px;
    }
}