
html{
    height: 100%;
}
body{
    height: calc(100vh - 164px);
}
/* - Font - */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -  Colours - */
.red{
    color: #f3101f !important;
}
.bg-red{
    background: #f3101f !important;
}

.blue{
    color: #0063a1 !important;
}
.bg-blue{
    background: #0063a1 !important;
}
.arrow-blue{
    color: #0063a1 !important;
}
.yellow{
    color: #f3e016 !important;
}
.bg-yellow{
    background: #f3e016 !important;
}
.arrow-yellow{
    color: #f3e016 !important;
}
.pink{
    color: #ff6bac !important;
}
.bg-pink{
    background: #ff6bac !important;
}

/* - Buttons- */
.btn-blue{
    background: #0063a1 !important;
}
.btn-red{
    background: #f3101f !important;
}
.btn-yellow{
    background: #f3e016 !important;
}
.btn-pink{
    background: #ff6bac !important;
}

/* - Landing Page -Index.html- */
.main-nav{
    background-color: #f3101f;
}

/* - Bulma - */
.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo{
    align-items: center;
    
    height: 6rem;
    width: 6rem;
}

/* - Toasts - */
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper{
    height: 2px;   
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* - Arrow Colour - 'Success' Taken from Boostrap - */
.arrow-red{
    color: #f3101f !important;
    border-bottom-color: #f3101f !important;
}
.arrow-blue{
    color: #0063a1 !important;
    border-bottom-color: #0063a1 !important;
}
.arrow-success{
    color: #28a745 !important;
    border-bottom-color: #28a745 !important;
}
.arrow-yellow{
    color: #f3e016 !important;
    border-bottom-color: #f3e016 !important;
}


.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* - Others - */
.li{
    text-decoration: none;
}

.to-top-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.to-top-button,
.update-link,
.remove-item{
    cursor: pointer;
}

/* - Media Queries - */

@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .header-container {
        padding-top: 164px;
    }
}