<div class="bg-red collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="nav-link text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classes-link">
                <a href="{% url 'tigers' %}" class="dropdown-item">Tigers Taekwondo</a>
                <a href="{% url 'juniors' %}" class="dropdown-item ">Juniors Taekwondo</a>
                <a href="{% url 'seniors' %}" class="dropdown-item ">Seniors Taekwondo</a>
                <a href="{% url 'ladies' %}" class="dropdown-item">Ladies Taekwondo</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" href="{% url 'our_team' %}" id="team-link">
                Our Team
            </a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-light mr-5" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=uniform" class="dropdown-item">Uniform</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item ">Clothing</a>
                <a href="{% url 'products' %}?category=sparring_equipment" class="dropdown-item ">Sparring Equipment</a>
                <a href="{% url 'products' %}?category=fees" class="dropdown-item">Fees</a>
                <a href="{% url 'products' %}?category=uniform,clothing,sparring_equipment,fees" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>