<div class="bg-red collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classes-link">
                <a href="" class="dropdown-item">Tigers Taekwondo</a>
                <a href="" class="dropdown-item ">Juniors Taekwondo</a>
                <a href="" class="dropdown-item ">Adults Taekwondo</a>
                <a href="" class="dropdown-item">Ladies Taekwondo</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="team-link">
                Our Team
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="learn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="learn-link">
                <a href="" class="dropdown-item">Taekwondo</a>
                <a href="" class="dropdown-item">Tigers Taekwondo</a>
                <a href="" class="dropdown-item ">Juniors Taekwondo</a>
                <a href="" class="dropdown-item ">Adults Taekwondo</a>
                <a href="" class="dropdown-item">Ladies Taekwondo</a>
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">Uniforms</a>
                <a href="" class="dropdown-item ">Equiptment</a>
                <a href="" class="dropdown-item ">Team Wear</a>
                <a href="" class="dropdown-item">Accessories</a>
                
            </div>
        </li>
    </ul>
</div>