<div class="bg-blue collapse navbar-collapse" id="shop-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="products-link">
                Shop Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="uniform-link">
                Uniform
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="clothing-link">
                Clothing
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sparring-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sparring-link">
                <a href="" class="dropdown-item">Sparring Equipment</a>
                <a href="" class="dropdown-item">Gloves</a>
                <a href="" class="dropdown-item">Headguards</a>
                <a href="" class="dropdown-item ">Shin Guards</a>
                <a href="" class="dropdown-item ">Foot Guards</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fees-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fees
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fees-link">
                <a href="" class="dropdown-item">All Fees</a>
                <a href="" class="dropdown-item">Session Fees</a>
                <a href="" class="dropdown-item ">Grading Fees</a>
                <a href="" class="dropdown-item ">Membership Fees</a>
            </div>        
        </li>
    </ul>
</div>