{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<h2 class="text-center">{{post.title}}</h2>
<hr>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card mb-3">
            {% if post.image %}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-subtitle"><small class="text-muted">Posted by: {{post.author.first_name}}</small></p>
                            <p class="card-text">{{post.body|safe}}</p>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="card-footer">
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-yellow btn-sm float-end m-1">
                                <span class="icon">
                                    <i class="far fa-edit"></i>
                                </span>
                                <span class="">Edit Post</span>
                            </a>
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-red btn-sm text-light float-end m-1">
                                <span class="icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-uppercase">Delete Post</span>
                            </a>
                    {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                    <div class="card-body">
                        <p class="card-subtitle"><small class="text-muted">Posted by: {{post.author.first_name}}</small></p>
                        <p class="card-text">{{post.body|safe}}</p>
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="card-footer">
                            <a href="{% url 'edit_post' post.id %}" class="btn btn-yellow btn-sm float-end m-1">
                                <span class="icon">
                                    <i class="far fa-edit"></i>
                                </span>
                                <span class="">Edit Post</span>
                            </a>
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-red btn-sm text-light float-end m-1">
                                <span class="icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-uppercase">Delete Post</span>
                            </a>
                    {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col-12 col-sm-8 offset-sm-2">


</div>

{% endblock %}