{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<h2 class="text-center">{{post.title}}</h2>
{% if request.user.is_superuser %}
<div class="row">
    <div class="col-12 sm-2 offset-sm-5">
        <a href="{% url 'add_product' %}" class="btn btn-red m-2">Edit Post</a>
        <a href="{% url 'add_product' %}" class="btn btn-red m-2">Delete Post</a>
    </div>
</div>
{% endif %}
<hr>
{{post.author.first_name}}
{{post.body}}

<div class="col-12 col-sm-8 offset-sm-2">


</div>

{% endblock %}