{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<div class="row mt-4 pt-3">
    <div class="col-12 col-md-8 offset-md-2">

        <div class="card">
            <div class="card-header bg-pink text-light">
              <h2 class="text-center">Ladies Taekwondo</h2>
            </div>
            <div class="card-body bg-transparent">
                <span class="text-muted">Class Information</span>
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">Monday &amp; Wednesday</th>
                            <th scope="col">7:00pm - 8:30pm</th>
                            <th scope="col">14+</th>
                            <th scope="col"><i class=" pink icon fa-2x fas fa-female"> </i></th>
                         </tr>
                    </thead>
                </table>
            </div>
            
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ MEDIA_URL }}images/ladies1.png" class="img-fluid rounded-start" alt="Tigers In training">
                </div>
                <div class="col-md-6">
                        <div class="card-body">
                            <p>
                                Studying martial arts is something that anybody – at any age or fitness level – can do. Whether it is for fitness, knowledge of self defence. Our Ladies Only classes are great fun and help you cover all this, with increases in flexibility stamina and toning.
                            </p>
                            <p>
                                Where else are you going to learn Martial Arts, make friends and get fit at the same time.
                            </p>    
                        </div>
                  </div>
              </div>        
          </div>
      </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <p>
                            Even when you do find time to hit the gym, regardless of having a schedule that’s full of work, family time, and other obligations, you might be bored by your same old workout. There’s nothing exciting about another go-round on the treadmill or elliptical – and you might need some encouragement to stick to a schedule and achieve your fitness goals. Our Martial arts classes for adults focus on building core strength and cardiovascular fitness in a fun, social setting. Why not break out of your dull routine?
                        </p>
                        <p>
                            Our ladies’ only classes are designed to teach you real self-defence skills while our female instructor puts you through a great workout! Our programme will teach you all the basic, intermediate and advanced techniques in order to give you the skills to make you a rounded Martial Artist and if desired eventually toward a Black Belt. Whilst working through our syllabus, every class has a different focus so that it remains fun and interesting, you also leave every session feeling a little more confident from your new skills. Forget being bored on a treadmill or not being motivated to exercise, these classes will have you motivated, interested and have you picking up some valuable self-defence skills.
                        </p>   
                    </div>
                </div>
                <div class="col-md-6">
                  <img src="{{ MEDIA_URL }}images/ladies2.png" class="img-fluid rounded-end" alt="Students Training">
                </div>
              </div>        
          </div>
      </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ MEDIA_URL }}images/ladies3.png" class="img-fluid rounded-start" alt="Tigers In training">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p>
                            Whether you’re a looking for something new, one of our Martial arts Mummy or Mummy’s friend coming for support. New to the sport or dusting off old experiences of martial arts there is plenty of space on our mats.
                        </p>
                        <div class="mt-4 card-footer  bg-transparent text-center">
                            <p>
                                Come and see for yourself and book free lessons to try out taekwondo with us.
                            </p>
                            <a class="btn btn-pink text-light" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                        </div>
                    </div> 
                </div>     
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class=" col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-pink text-light">
              <h2 class="text-center">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 What Do I wear to training?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Our classes take place in a matted Dojang. Takewondo is done with bare feet so there's no need to buy expensive trainers. We suggest that all new starters wear loose fitting clothing (without zips or buttons) until you have obtained your Dobok (provided with your membership).</p>
                    <p>Additional items can be purchased from the shop.  We also suggest that students come with a bottle of water and a if preferred a towel.</p>
                
                </div>
            </div>
                </div>
                <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                 Do I need a licence and insurance?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                     All students require a licence and insurance. We have placed these in the annual membership to Teifi Taekwondo.
                </div>
            </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Do I need sparring equipment? What equipment do I need?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Sparring equipment can be purchased at any point in during your training journey, however All students will need sparring equipment when they are promoted to Green Belt Blue Stripe.</p>
                            <p>Your sparring equipment consists of head guard, gloves, foot guards, shin pads, gum shield, and breast protectors. Due to the volume of equipment a bag to hold them in is suggested.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Do I have to grade for belts?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Grading for belts is purely optional. The belt system sets goals for students and encourages them to learn new things and face fresh challenges. However, if a student does not wish to grade, we will still be happy for them to train with us.</p>
                            <p>There are 4 coloured belt gradings a year. Every March, June, September and December.</p>
                            <p>There are 2 black belt gradings a year. Every April and October</p>
                        </div>
                    </div>
                </div>         
             </div>
        </div>
    </div>
</div>
{% endblock %}