{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<hr>
<div class="row mt-4 pt-3">
    <div class="col-12 col-md-8 offset-md-2">

        <div class="card">
            <div class="card-header bg-yellow">
              <h2 class="text-center">Tigers Taekwondo</h2>
            </div>
            <div class="card-body bg-transparent">
                <span class="text-muted">Class Information</span>
                <table class="table table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tuesday &amp; Thursday</th>
                            <th scope="col">5:00:pm - 6:00pm</th>
                            <th scope="col">4 - 6</th>
                            <th scope="col"><i class=" yellow icon fa-2x fas fa-female"> </i><i class="yellow icon fa-2x fas fa-male"></i></th>
                         </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ MEDIA_URL }}images/tiger3.png" class="img-fluid rounded-start" alt="Tigers In training">
                </div>
                <div class="col-md-6">
                        <div class="card-body">
                            <p>
                                Our Tigers programme has been specifically created to be interactive and engaging for our youngest of Martial Artists. Young children are curious and active, they sometimes have difficulty learning to control their bodies and their behaviour. They crave structure and thrive in an environment that is supportive, educational, and fun.
                            </p>
                            <p>
                                Our Tiger's learn through a variety of games and activities that introduce the techniques and skills which will set them up for our older classes. The structure of our classes shows children the importance of focus and teaches them to apply it to easily achievable tasks.
                            </p>    
                        </div>
                  </div>
              </div>        
          </div>
      </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <p>
                            The programme designed for the Tigers goes beyond the teaching of Martial Arts and self-defence to include the teaching of self-protection, important life skills and character education. They learn to control their movements to the best of their ability. They also practice hand-eye coordination and learn about their bodies.
                        </p>
                        <p>
                            Every parent’s paramount concern is their children’s safety, so we include safety orientated lessons that focus on topics such as dealing with bullies and strangers.
                        </p>   
                    </div>
                </div>
                <div class="col-md-6">
                  <img src="{{ MEDIA_URL }}images/tiger2.png" class="img-fluid rounded-end" alt="Students Training">
                </div>
              </div>        
          </div>
      </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-2 ">
        <div class="card h-100">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ MEDIA_URL }}images/tiger1.png" class="img-fluid rounded-start" alt="Tigers In training">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p>
                            We never forget… kids are kids, and they deserve to have some fun! We can’t guarantee that their normal school teachers are making learning an enjoyable experience, but we DO guarantee that your kid will have a blast in our martial arts classes.
                        </p>
                        <div class="mt-4 card-footer bg-transparent text-center">
                            <p>
                                Come and see for yourself and book free lessons to try out taekwondo with us.
                            </p>
                            <a class="btn btn-yellow" href="{% url 'products' %}?category=fees" role="button">Book A Session</a>
                        </div>
                    </div>        
                </div>
          </div>
      </div>
</div>
<div class="row">
    <div class=" col-12 col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-yellow">
              <h2 class="text-center">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="card-body bg-transparent">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                     What should my child wear to training?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Our classes take place in a matted Dojang. Takewondo is done with bare feet so there's no need to buy expensive trainers.We suggest that all new starters wear loose fitting clothing (without zips or buttons) until you have obtained your Dobok (provided with your membership).</p>
                        <p>Additional items can be purchased from the Coaches.  We also suggest that students come with a bottle of water and a if preferred a towel.</p>
                    
                    </div>
                </div>
                    </div>
                    <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                     Does my child need a licence and insurance?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                         All students require a licence and insurance. We have placed these in the annual membership to Teifi Taekwondo.
                    </div>
                </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Do I have to stay and watch while my child trains?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The honest answer is, Yes. For the tigers we prefer for parents to stay and watches. We have found that if parents are not present its very difficult for them to understand what the child has to learn to achieve the next belt, it also makes getting water and break periods easier to control.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Dos my child need sparring equipment? What equipment they they need?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Sparring equipment can be purchased at any point in during thier training journey, however due to the nature of the classes for our Tigers this isn't as necessary as older classes. </p>
                                <p>Sparring equipment consists of head guard, gloves, feet protection, shin pads, gum shield, and either a groin guard (Boys &amp; Men) or breast protectors (ladies). Due to the volume of equipment a bag to hold them in is suggested.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Will my child grade for belts?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Grading for belts is purely optional. The belt system sets goals for students and encourages them to learn new things and face fresh challenges. However, if a student does not wish to grade, we will still be happy for them to train with us.</p>
                                <p>Our Tigers syllabus means that unlike moving throughbelts swiftly,children will progress in smaller meaningful chunks and therefore will not earn a new coloured belt at every grading</p>
                                <p>Parents will be informed of thier Tigers upcoming gradings by their instructor when the time comes</p>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>     
        </div>
    </div>

{% endblock %}